[![builds.sr.ht status](https://builds.sr.ht/~ruivieira/nim-experiments/commits/main/.build.yml.svg)](https://builds.sr.ht/~ruivieira/nim-experiments/commits/main/.build.yml?)

# nim-experiments

![](docs/nim-experiments.jpg)

{{#entries}}
- `{{name}}`, {{description}}
{{/entries}}

## 🎓 graduated

{{#graduated}}
- `{{name}}`, {{description}} ([repo]({{repo}}))
{{/graduated}}

## mailing lists

- Announcements: [https://lists.sr.ht/~ruivieira/nim-announce](https://lists.sr.ht/~ruivieira/nim-announce)
- Discussion: [https://lists.sr.ht/~ruivieira/nim-discuss](https://lists.sr.ht/~ruivieira/nim-discuss)
- Development: [https://lists.sr.ht/~ruivieira/nim-devel](https://lists.sr.ht/~ruivieira/nim-discuss)

Please prefix the subject with `[$PROJECT-NAME]`.
